* {
	margin:0;
}

html,body{
	height: 100%;
	font-family:'Reem Kufi', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	margin-bottom: 20px;
}
h1{
	/*position: absolute;*/
	color: white;
	font-size: 350%;
	/*top: 200px;*/
	/*left: 680px;*/
	width: 100%;
}
.button {
	border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {background-color: #01FF70;} /*lime green*/
.button2 {background-color: #0074D9;} /*blue*/
.button3 {background-color: #FF851B;} /*orange*/
.button4 {background-color: #F012BE;} /*fuchsia*/
.button5 {background-color: #39CCCC;} /*teal*/
