<!DOCTYPE html>

<!--The goal of this website is to display graphs of various statistics of two teams and determine who will win in their upcoming matchup-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Game Predictor Website</title>
	<!--JQuery import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Google font import. Font I used -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Materialize import. Materialize framework was used to help make this site-->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!--AngularJS script import. AngularJS was used to help with the animations used in the site-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--d3 library import. d3 was used to display the data as graphs-->
<script src="https://d3js.org/d3.v3.min.js"></script>
<!--External javascript file that slows down page traversal when link is clicked-->
<script src="js/navigateSlowly.js"></script>
<!--External javascript file that helps with changing colors on page when favorite team is clicked-->
<script src="js/initColorAndMatch.js"></script>
<!--External javascript file that helps with displaying graphs and initializing axis names-->
<script src="js/graphs.js"></script>
<!--External javascript file that has functions to restart web page and display help in bottom-right corner-->
<script src="js/refreshAndHelp.js"></script>
<!--External javascript file that has function that uses algorithm to display who will win upcoming matchup-->
<script src="js/Algorithm.js"></script>
<link rel="stylesheet" type="text/css" href="css/anthonyStyle.css" />
<link rel="stylesheet" type="text/css" href="css/graphs.css" />

<!--This is the navbar-->
<body ng-app="ngAnimate">
    <div class="navbar-fixed">
        <nav id="navBarColor">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#favTeamDiv" class="breadcrumb">Step 1</a>
                    <a href="#predictGameDiv" class="breadcrumb">Step 2</a>
                    <a href="#chartDiv" class="breadcrumb">Step 3</a>
                    <a href="#algorithmDiv" class="breadcrumb">Step 4</a>
                </div>
            </div>
        </nav>
    </div>

    <!--Home page. This displays the title of the page and explains how to traverse through the site.-->
    <div class="container">
        <br><br>
        <h1 class="header center titleText">Game Predictor</h1>
        <div class="row center">
            <h5 class="header col s12 light titleText">Steph will no longer be the smartest player on the court, you will!</h5>
            <h5 class="header col s12 light titleText">Click the buttons above to navigate throughout the site</h5>
        </div>
        <br><br>
    </div>
    </div>
    <!--This div, favTeamDiv, is where the site displays the image of your favorite team and updates the colors on the page. initColorAndMatch 
	<!--from initColorAndMatch.js are called to make the colors change. In addition, AngularJS is used to make the animations, which is what 
	<!--causes the images to come in slowly.-->
    <div id="favTeamDiv">
        <br><br><br><br><br><br><br><br>
    </div>
	<!--This unordered list displays all 30 NBA teams. The NBA teams are grouped into their individual divisions.
	<!--The divisions are drop-down menus, which display the teams that are in each division.-->
    <ul class="collection with-header">
        <li class="collection-header">
            <div>
                <h4 class="titleText">Pick your Favorite Team</h4>
            </div>
        </li>
		<!--Atlantic division teams. When a team is clicked, a variable corresponding with the team is set to true, which signals
		<!--the corresponding function to change the colors to the team's colors and display the image of the team's logo-->
        <a href="#!" class="collection-item active activeText" ng-click="atlanticTeams=!atlanticTeams">Atlantic Division</a>
        <div class="collection" ng-show="atlanticTeams">
            <a onclick="changeColor('celtics')" ng-hide="myFavCeltics" ng-click="myFavCeltics=true;" class="collection-item">Celtics</a>
            <a onclick="changeColor('nets')" ng-hide="myFavNets" ng-click="myFavNets=true;" class="collection-item" background-color="green">Nets</a>
            <a onclick="changeColor('knicks')" ng-hide="myFavKnicks" ng-click="myFavKnicks=true;" class="collection-item">Knicks</a>
            <a onclick="changeColor('sixers')" ng-hide="myFavSixers" ng-click="myFavSixers=true;" class="collection-item">76ers</a>
            <a onclick="changeColor('raptors')" ng-hide="myFavRaptors" ng-click="myFavRaptors=true;" class="collection-item">Raptors</a>
        </div>
		<!--Central division teams-->
        <a href="#!" class="collection-item active activeText" ng-click="centralTeams=!centralTeams">Central Division</a>
        <div class="collection" ng-show="centralTeams">
            <a onclick="changeColor('bulls')" ng-hide="myFavBulls" ng-click="myFavBulls=true;" class="collection-item">Bulls</a>
            <a onclick="changeColor('cavs')" ng-hide="myFavCavs" ng-click="myFavCavs=true;" class="collection-item">Cavs</a>
            <a onclick="changeColor('pistons')" ng-hide="myFavPistons" ng-click="myFavPistons=true;" class="collection-item">Pistons</a>
            <a onclick="changeColor('pacers')" ng-hide="myFavPacers" ng-click="myFavPacers=true;" class="collection-item">Pacers</a>
            <a onclick="changeColor('bucks')" ng-hide="myFavBucks" ng-click="myFavBucks=true;" class="collection-item">Bucks</a>
        </div>
		<!--Southeast division teams-->
        <a href="#!" class="collection-item active activeText" ng-click="southeastTeams=!southeastTeams">Southeast Division</a>
        <div class="collection" ng-show="southeastTeams">
            <a onclick="changeColor('hawks')" ng-hide="myFavHawks" ng-click="myFavHawks=true;" class="collection-item">Hawks</a>
            <a onclick="changeColor('hornets')" ng-hide="myFavHornets" ng-click="myFavHornets=true;" class="collection-item">Hornets</a>
            <a onclick="changeColor('heat')" ng-hide="myFavHeat" ng-click="myFavHeat=true;" class="collection-item">Heat</a>
            <a onclick="changeColor('magic')" ng-hide="myFavMagic" ng-click="myFavMagic=true;" class="collection-item">Magic</a>
            <a onclick="changeColor('wizards')" ng-hide="myFavWizards" ng-click="myFavWizards=true;" class="collection-item">Wizards</a>
        </div>
		<!--Northwest division teams-->
        <a href="#!" class="collection-item active activeText" ng-click="northwestTeams=!northwestTeams">Northwest Division</a>
        <div class="collection" ng-show="northwestTeams">
            <a onclick="changeColor('nuggets')" ng-hide="myFavNuggets" ng-click="myFavNuggets=true;" class="collection-item">Nuggets</a>
            <a onclick="changeColor('timberwolves')" ng-hide="myFavTimberwolves" ng-click="myFavTimberwolves=true;" class="collection-item">Timberwolves</a>
            <a onclick="changeColor('thunder')" ng-hide="myFavThunder" ng-click="myFavThunder=true;" class="collection-item">Thunder</a>
            <a onclick="changeColor('trailblazers')" ng-hide="myFavTrailblazers" ng-click="myFavTrailblazers=true;" class="collection-item">Trailblazers</a>
            <a onclick="changeColor('jazz')" ng-hide="myFavJazz" ng-click="myFavJazz=true;" class="collection-item">Jazz</a>
        </div>
		<!--Pacific division teams-->
        <a href="#!" class="collection-item active activeText" ng-click="pacificTeams=!pacificTeams">Pacific Division</a>
        <div class="collection" ng-show="pacificTeams">
            <a onclick="changeColor('warriors')" ng-hide="myFavWarriors" ng-click="myFavWarriors=true;" class="collection-item">Warriors</a>
            <a onclick="changeColor('clippers')" ng-hide="myFavClippers" ng-click="myFavClippers=true;" class="collection-item">Clippers</a>
            <a onclick="changeColor('lakers')" ng-hide="myFavLakers" ng-click="myFavLakers=true;" class="collection-item">Lakers</a>
            <a onclick="changeColor('suns')" ng-hide="myFavSuns" ng-click="myFavSuns=true;" class="collection-item">Suns</a>
            <a onclick="changeColor('kings')" ng-hide="myFavKings" ng-click="myFavKings=true;" class="collection-item">Kings</a>
        </div>
		<!--Southwest division teams-->
        <a href="#!" class="collection-item active activeText" ng-click="southwestTeams=!southwestTeams">Southwest Division</a>
        <div class="collection" ng-show="southwestTeams">
            <a onclick="changeColor('mavs')" ng-hide="myFavMavs" ng-click="myFavMavs=true;" class="collection-item">Mavs</a>
            <a onclick="changeColor('rockets')" ng-hide="myFavRockets" ng-click="myFavRockets=true;" class="collection-item">Rockets</a>
            <a onclick="changeColor('grizzlies')" ng-hide="myFavGrizzlies" ng-click="myFavGrizzlies=true;" class="collection-item">Grizzlies</a>
            <a onclick="changeColor('pelicans')" ng-hide="myFavPelicans" ng-click="myFavGrizzlies=true;" class="collection-item">Pelicans</a>
        </div>
        </div>

        <!--When a favorite team is clicked, the following divs are shown. The css for showing these images slowly with animation-->
        <!--from angular js is found in anthonyStyle.css-->
        <div id="favTeamImage">
            <div class="celtics" ng-show="myFavCeltics"></div>
            <div class="knicks" ng-show="myFavKnicks"></div>
            <div class="nets" ng-show="myFavNets"></div>
            <div class="sixers" ng-show="myFavSixers"></div>
            <div class="raptors" ng-show="myFavRaptors"></div>
            <div class="bulls" ng-show="myFavBulls"></div>
            <div class="cavs" ng-show="myFavCavs"></div>
            <div class="pistons" ng-show="myFavPistons"></div>
            <div class="pacers" ng-show="myFavPacers"></div>
            <div class="bucks" ng-show="myFavBucks"></div>
            <div class="hawks" ng-show="myFavHawks"></div>
            <div class="hornets" ng-show="myFavHornets"></div>
            <div class="heat" ng-show="myFavHeat"></div>
            <div class="magic" ng-show="myFavMagic"></div>
            <div class="wizards" ng-show="myFavWizards"></div>
            <div class="nuggets" ng-show="myFavNuggets"></div>
            <div class="timberwolves" ng-show="myFavTimberwolves"></div>
            <div class="thunder" ng-show="myFavThunder"></div>
            <div class="trailblazers" ng-show="myFavTrailblazers"></div>
            <div class="jazz" ng-show="myFavJazz"></div>
            <div class="warriors" ng-show="myFavWarriors"></div>
            <div class="clippers" ng-show="myFavClippers"></div>
            <div class="lakers" ng-show="myFavLakers"></div>
            <div class="suns" ng-show="myFavSuns"></div>
            <div class="kings" ng-show="myFavKings"></div>
            <div class="mavs" ng-show="myFavMavs"></div>
            <div class="rockets" ng-show="myFavRockets"></div>
            <div class="grizzlies" ng-show="myFavGrizzlies"></div>
            <div class="pelicans" ng-show="myFavPelicans"></div>
        </div>

        <!--The following button takes you to the predictGameDiv, which is where the user has the choice of picking which upcoming game to predict and show data for-->
        <a href="#predictGameDiv" class="waves-effect waves-light btn-large btn2"><i class="material-icons right">play_for_work</i>That was fun, now let's go to the next steps to actually predict some games</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <!--Bottom-left corner refresh button. Calls Restart() function when clicked.-->
        <div class="fixed-action-btn" style="bottom: 50px; left: -88%">
            <a href="#survey" onclick="Restart()" class="btn btn-floating btn-large cyan"><i class="material-icons">refresh</i></a>
        </div>

        <!-- Tap Target Structure in the bottom-right corner. The pop-up thing in the right corner. Gives explanations of certain statistics.-->
        <div class="fixed-action-btn" style="bottom: 50px; right: 24px;">
            <a onclick="$('.tap-target').tapTarget('open'), displayAnswerEarly()" id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
        </div>
        <div class="tap-target-wrapper close" style="right: -347.667px; bottom: -327.333px; position: fixed;">
            <div class="tap-target cyan" data-activates="menu">
                <div class="tap-target-content white-text" style="width: 456px; height: 400px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;">
                    <h5></h5>
                    <p id="helpInfo" class="white-text" style="font-size:80%"></p>
                </div>
            </div>
            <div onclick="displayAllAnswers()" class="tap-target-wave" style="top: 344px; left: 344px; width: 112px; height: 112px;"><a class="btn btn-floating btn-large cyan tap-target-origin"><i class="material-icons">menu</i></a></div>
        </div>

        <!--User should have the choice of predicting a game. We should dynamically generate the list of games coming up. As of right now,-->
        <!--I am just including three default upcoming games because there are no upcoming games anytime soon.-->
        <div id="predictGameDiv">
            <br><br>
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4 class="titleText">Upcoming Games</h4>
                </li>
                <a href="#graphic1" class="collection-item titleText" onclick="initializeTeamNum(1)">Cavs vs. Warriors</a>
                <a href="#graphic1" class="collection-item titleText" onclick="initializeTeamNum(2)">Knicks vs. Raptors</a>
                <a href="#graphic1" class="collection-item titleText" onclick="initializeTeamNum(3)">Celtics vs. Wizards</a>
        </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <!--Charts were displayed here. NOT ANYMORE though! I might revert back to this with the old graphs I used, though, so I am keeping it-->
        <div id="chartDiv">
            <br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col s12 m4" id="chart_div"></div>

        <!--The following div, graphic1, is where the first chart is displayed. This chart displays the points scored in the last four games of the two teams-->
        <div id="graphic1"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <!--When this button is clicked, it calls the function initializeAxisNames(), which determines what the axis names should be based on which team match-up was chosen.
		<!--In addition, it calls the function displayGraphOfTeams(), which displays the corresponding grouped bar chart for the match-up. Finally, it calls
		<!--displayExplanation(), which displays the corresponding explanation for why the statistics in the graph are important.-->
        <button class="dropbtn btn2" type="button" onclick="initializeAxisNames(1), displayGraphOfTeams(num, 1), displayExplanation(1)">Compare Points!</button>
        <a class="dropbtn btn2" type="button" href="#graphic2">Move on to next graph!</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <!--The following div, graphic2, is where the second chart is displayed. This chart displays PPG, OPPG, RPG, and APG of the two teams. -->
        <div id="graphic2"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <!--When this button is clicked, it calls the function initializeAxisNames(), which determines what the axis names should be based on which team match-up was chosen.
		<!--In addition, it calls the function displayGraphOfTeams(), which displays the corresponding grouped bar chart for the match-up. Finally, it calls
		<!--displayExplanation(), which displays the corresponding explanation for why the statistics in the graph are important.-->
        <button class="dropbtn btn2" type="button" onclick="initializeAxisNames(2), displayGraphOfTeams(num, 2), displayExplanation(2)">Compare PPG, APG, etc!</button>
        <a class="dropbtn btn2" type="button" href="#graphic3">Move on to next graph!</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <!--The following div, graphic2, is where the third chart is displayed. This chart displays FG PCT, OPP FG PCT, 3PT PCT, and OPP 3 PT PCT-->
        <div id="graphic3"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
        <!--When this button is clicked, it calls the function initializeAxisNames(), which determines what the axis names should be based on which team match-up was chosen.
		<!--In addition, it calls the function displayGraphOfTeams(), which displays the corresponding grouped bar chart for the match-up. Finally, it calls
		<!--displayExplanation(), which displays the corresponding explanation for why the statistics in the graph are important.-->
        <button class="dropbtn btn2" type="button" onclick="initializeAxisNames(3), displayGraphOfTeams(num, 3), displayExplanation(3)">Compare field goal percentages!</button>
        <a class="dropbtn btn2" type="button" href="#algorithmDiv">Display Winner!</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div ng-init="mySwitch=false">
            <p>
				<!--The following div, algorithmDiv, displays who the algorithm determined was the winner. The function, displayAlgorithm(), 
				<!--takes in data from the csv files and uses various weights for the numbers to determine who will win.-->
                <div id="algorithmDiv">
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <button id="button" class="dropbtn btn2" ng-click="mySwitch=true" onclick="displayAlgorithm()">Click Me to display what the algorithm determined!</button>
                <div ng-show="mySwitch">
                    <p id="algorithmDisplayed"></p>
                </div>
        </div>
        </p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="section">
                <!--Explains why site is useful.-->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons titleText">flash_on</i></h2>
                            <h5 class="center">Fast Predictions</h5>

                            <p class="light">Quickly use our algorithm to determine who will win the next big game. Your friends will be impressed by your success game after game.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons titleText">assessment</i></h2>
                            <h5 class="center">Analysis</h5>

                            <p class="light">We care about how you traverse through the site, so we made sure that you are able to analyze information with charts rather than just numbers.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons titleText">thumb_up</i></h2>
                            <h5 class="center">Easy to use</h5>

                            <p class="light">Our site's relatively simple user interface makes it very easy to better understand the dynamics of NBA teams and how certain statistics serve as very strong predictors.</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
</body>
</html>